::target{
    outline: none; 
} 
/* purgecss start ignore */ 
.metaslider{
     @apply static #{!important};
    & .flexslider {
        @apply static #{!important}; 
        .flex-direction-nav {
            li a{
                background-image: url(../svg/next.svg) #{!important}; 
                @apply opacity-100 #{!important};
                height: 48.653px #{!important};
                width: 24.892px #{!important};
                @screen maxsm{
                    height: 38.653px #{!important};
                    width: 14.892px #{!important};
                }
                
            }
            .flex-prev{
                transform: rotate(-180deg); 
                left:-3px #{!important};
            } 
            .flex-next{
                right: -3px #{!important};
            }
        }
        &:hover {
            .flex-prev{
                 left: -3px #{!important};
            }
            .flex-next{
                right: -3px #{!important};
            }
        }
        .caption-wrap{
            bottom: -43px; 
            @apply bg-transparent text-center text-primary-600 font-normal text-md opacity-100 tracking-wide ;
            @screen maxsm{
                bottom: -50px; 

            }
        }
    }   
}


//sticky
 .sticky-active .qubely-column-inner{
    position: sticky;
    top: 15px; 
}  

//:target
.target-form-espanol, .target-form-english{
    @apply cursor-pointer;
}
/* purgecss end ignore */
 