.single{
        &-dentalservices{
            .main{
                &-content{  
                    &__title{
                       @apply mb-10 bg-primary-500 text-white py-5 px-5 text-base font-light  uppercase tracking-widest font-robotocd;

                    } 
                    img{
                        max-width:none;
                    } 
                   /*  h2{
                     @apply  text-secondary-500 font-semibold leading-6 tracking-wide;   
                     font-size: 1.18rem;
                    }
                    p{
                     @apply mb-5 text-primary-500 tracking-wide text-md -mt-3 ; 
                    } */
                   
                    /* .wp-block-qubely-row{
                        @apply p-0 ;  
                        .wp-block-qubely-column{
                          @apply pl-0 pr-0 ; 
                            .wp-block-qubely-text {
                                @apply py-0 ;  
                            }
                        }
                    }
                    .wp-block-qubely-text {
                        @apply py-0 ;  
                    } */
                    
                }
            }
        }
}

.info-contact{
    @apply py-3 px-6  bg-secondary-500 text-white  text-center mt-20 m-auto font-medium mb-6 block;
    max-width: 35rem;
}

