.page-template-page-about-us{
    .main{ 
        .wp-block-qubely-text {
            @apply py-0 ;  
        }
        h1{ 
            @apply font-light text-2xl text-primary-600; 

            strong{
                @apply font-bold #{!important};
            }
           
        } 
        h2{
            @apply  text-secondary-500 font-semibold leading-6 tracking-wide;   
            font-size: 1.18rem; 
           }
        p{ 
            @apply mb-8 text-primary-500 tracking-wide text-md -mt-3 ;  

        }
        &-name{
            @apply font-medium text-primary-600 bg-white py-4 px-3; 
            width: 100%;
            max-width: 350px;
            h4{
                font-size:19px; 
            }
            @screen maxsm{
                font-size:15px;
            }
        }
        .qubely-container{ 
            @apply m-0;
            max-width: 100%; 
        }
       
    }
}